page-login {

  .login-content {
    background: #FFF;

    .row-logo {
      padding: 8% 0;
      .login-logo {
        border: 2px solid color($colors, primary, base);
        border-radius: 50%;
        padding: 5px;
      }
    }

  }

  .login-box {

    .login-inputs {
        .login-input-wrapper {
            border: 0;
        }
        input {
            border-bottom: 1px solid color($colors, primary, base);
            margin-bottom: 20px;
            padding: 0 5px 5px 5px;
            color: color($colors, primary, base);
        }
        
    }
  }

    .login-bottom-wrapper {
        .login-bottom-password {
            position: relative;
            bottom: 0;

            .button-forgot-password {
                background-color: #FFF;
                color: color($colors, darkgrey, base);
                border-bottom: 1px solid color($colors, darkgrey, base);
                border-radius: 0;
            }
        }
    }

    @media screen and (orientation : landscape){
        .login-content {
            .row-logo {
              padding: 0;
            }
        }
    }

}