.button-block {
    background-color: color($colors, primary, base);
    padding: 15px 0 120px 0;
    border-radius: 4px;

    button {
        box-shadow: none;
    }
}

.icon-big {
    font-size: 70px;
    color: white;
}

/* Actions buttons */

.delete {
    color: #f53d3d !important;
    padding-right: 15px
}

.edit {
    padding-right: 10px
}

/* Modals */

.view-modal-padding {
    .ion-page > ion-content .scroll-content {
        padding: 16px 0;
    }
    .item-inner {
        .text-input {
            margin-bottom: 15px;
        }
        .label-md[stacked] {
            font-size: inherit;
        }
    }
    .input-has-focus .label-md[stacked] {
        color: #999;
    }
}

page-add-aluno-modal,
page-add-escola-modal,
page-add-turma-modal,
page-add-grupo-modal {
    ion-input, ion-select, ion-datetime{
        background-color: white !important;
        border-bottom: 1px solid color($colors, primary, base);
        padding: 5px 0;
        min-width: 150px !important;
        color: color($colors, darkgrey, base);
        text-align: right;
    }
    ion-header ion-icon {
        font-size: 2em;
    }
    ion-item {
        .label {
            margin-left: 0 !important;
        }
        .input {
            padding-right: 0 !important;
        }
    }
    .item-inner {
        .select-text {
            margin-bottom: 8px;
        }
        .datetime-text {
            margin: 8px 0;
        }
        .label-md[stacked] {
            font-size: inherit;
        }
    }
    .input-has-focus .label-md[stacked] {
        color: #999;
    }
}

page-edit-escola-modal,
page-edit-turma-modal,
page-edit-grupo-modal,
page-edit-aluno-modal {
    ion-header ion-icon {
        font-size: 2em;
    }
    ion-input, ion-select, ion-datetime {
        background-color: white !important;
        border-bottom: 1px solid color($colors, primary, base);
        padding: 5px 0;
        min-width: 150px !important;
        color: color($colors, darkgrey, base);
        text-align: left;
    }
    ion-item {
        .label {
            margin-left: 0 !important;
        }
        .input {
            padding-right: 0 !important;
        }
    }
    .item-inner {
        .select-text {
            margin-bottom: 8px;
        }
        .datetime-text {
            margin: 8px 0;
        }
        .label-md[stacked] {
            font-size: inherit;
        }
    }
    .input-has-focus .label-md[stacked] {
        color: #999;
    }
}

page-view-aluno-modal,
page-view-grupo-modal {
    ion-header ion-icon {
        font-size: 2em;
    }
}

@media all and (orientation:landscape) {

    .button-block {
        padding: 10px 0 105px 0;

        button {
            margin-top: -10%;
        }
    }

    .icon-big {
        font-size: 50px;
        padding-top: 15px;
        padding-bottom:  15px;
    }
}