.button-block {
    background-color: color($colors, primary, base);
    padding: 15px 0 120px 0;
    border-radius: 4px;

    button {
        box-shadow: none;
    }
}

.icon-big {
    font-size: 70px;
    color: white;
}

@media all and (orientation:landscape) {

    .button-block {
        padding: 10px 0 105px 0;

        button {
            margin-top: -10%;
        }
    }

    .icon-big {
        font-size: 50px;
        padding-top: 15px;
        padding-bottom:  15px;
    }
}