
<ion-header>
  <ion-navbar>
    <ion-title>Gráficos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header class="titleSearch" (click)="toggleBusca(isExpand)">Filtrar
      <ion-icon item-right class="iconRight" name="ios-arrow-down" *ngIf="!isExpand"></ion-icon>
      <ion-icon item-right class="iconRight" name="ios-arrow-up" *ngIf="isExpand"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="isExpand">
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Escola</ion-label>
        <ion-select [(ngModel)]="escolaId" (ngModelChange)="getTurmasByEscolaId($event)" okText="Ok" cancelText="Cancelar">
          <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Turma</ion-label>
        <ion-select [(ngModel)]="turmaId" (ngModelChange)="getGruposByTurmaId($event)" okText="Ok" cancelText="Cancelar">
          <ion-option *ngFor="let turma of turmas" [value]="turma.id">{{turma.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Grupo</ion-label>
        <ion-select [(ngModel)]="grupoId" (ngModelChange)="getGrupoById($event)" okText="Ok" cancelText="Cancelar">
          <ion-option *ngFor="let grupo of grupos" [value]="grupo.id">{{grupo.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Alunos</ion-label>
        <ion-select [(ngModel)]="alunoId" okText="Ok" cancelText="Cancelar">
          <ion-option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="buttonsSearch">
        <button ion-button color="darkgrey" (click)="limpar()">
          Limpar
        </button>
        <button ion-button (click)="pesquisar(alunoId)">
          Pesquisar
        </button>
      </div>

    </ion-card-content>
  </ion-card>

  <div padding>Escolha o aluno desejado no campo acima para visualizar o gráfico de respostas.</div>

  <ion-card margin-vertical >
    <ion-card-header class="titleGraphic">
      <ion-icon name="pie"></ion-icon>
      Gráficos
    </ion-card-header>

    <ion-card-content>

      <h2 *ngIf="graficoConstrutorShow" class="subtitleGraphics">Construtor</h2>
      <h2 *ngIf="mensagemConstrutor" class="subtitleGraphics">O aluno selecionado não possui nenhuma avaliação como construtor</h2>
      <canvas #barCanvas ></canvas><br>

      <h2 *ngIf="graficoOrganizadorShow" class="subtitleGraphics">Organizador</h2>
      <h2 *ngIf="mensagemOrganizador" class="subtitleGraphics">O aluno selecionado não possui nenhuma avaliação como organizador</h2>
      <canvas #barCanvasOrgan ></canvas><br>

      <h2 *ngIf="graficoProgramadorShow" class="subtitleGraphics">Programador</h2>
      <h2 *ngIf="mensagemProgramador" class="subtitleGraphics">O aluno selecionado não possui nenhuma avaliação como programador</h2>
      <canvas #barCanvasProg ></canvas><br>

      <h2 *ngIf="graficoLiderShow" class="subtitleGraphics">Líder</h2>
      <h2 *ngIf="mensagemLider" class="subtitleGraphics">O aluno selecionado não possui nenhuma avaliação como líder</h2>
      <canvas #barCanvasLider ></canvas><br>

    </ion-card-content>
  </ion-card>

</ion-content>
