<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button block (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Cadastro</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="signup-box">
        <form [formGroup]="registroForm">
            <ion-row>
                <ion-col col-12 text-center class="form-inputs">
                    <ion-list>

                        <p *ngIf="submitAttempt" style="color: #ea6153;">Por favor, preencha todos os campos abaixo.</p>

                        <ion-item no-line margin-bottom class="signup-input-wrapper">
                            <ion-label><ion-icon name="person" text-center></ion-icon></ion-label>
                            <ion-input type="text" placeholder="Nome" formControlName="name" maxlength="70" required>{{name}}</ion-input>
                        </ion-item>

                        <ion-item *ngIf="(errorNome && submitAttempt)">
                          <p>O campo "Nome" é obrigatório.</p>
                        </ion-item>

                        <ion-item no-line margin-bottom class="signup-input-wrapper">
                            <ion-label><ion-icon name="mail" text-center></ion-icon></ion-label>
                            <ion-input type="text" placeholder="Email" formControlName="email" maxlength="50" required>{{email}}</ion-input>
                        </ion-item>

                        <ion-item *ngIf="(errorEmail && submitAttempt)">
                          <p>O campo "Email" é obrigatório.</p>
                        </ion-item>

                        <ion-item margin-bottom class="signup-input-wrapper">
                            <ion-label><ion-icon name="lock" text-center></ion-icon></ion-label>
                            <ion-input type="password" placeholder="Senha" formControlName="password" maxlength="30" required>{{password}}</ion-input>
                        </ion-item>

                        <ion-item *ngIf="(errorSenha && submitAttempt)">
                          <p>O campo "Senha" é obrigatório.</p>
                        </ion-item>

                        <div class="signup-password-description">
                            Use pelo menos seis (6) dígitos.
                        </div>

                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row class="row-signup">
                <ion-col col-12 text-center>
                    <button ion-button color="primary" class="button-actions" (click)="cadastrarNovoUsuario()">Cadastrar</button>
                </ion-col>
            </ion-row>

        </form>

    </div>

</ion-content>
