
<ion-header>
  <ion-navbar>
    <ion-title>Avaliação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-slides #avaliacaoSlider>
      <!-- Slide 1 -->
      <ion-slide padding>

        <ion-label margin-vertical color="black">
          <h4 class="subtitle">iniciar avaliação a partir de dados cadastrados</h4>
          <h5 class="subtitle-note">Os dados do grupo avaliado devem ser inseridos antes do início da avaliação</h5>
        </ion-label>

        <ion-list no-lines margin-top>

            <form [formGroup]="initialForm">
                <div class="border-bottom-grey">
                  <ion-item class="no-padding-left" margin-vertical>
                      <ion-label>Escola</ion-label>
                      <ion-select formControlName="escola" (ngModelChange)="getTurmasByEscolaId($event)" [(ngModel)]="escolaId" okText="Ok" cancelText="Cancelar">
                        <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
                      </ion-select>
                  </ion-item>
                </div>

                <div class="border-bottom-grey">
                  <ion-item class="no-padding-left" margin-vertical>
                      <ion-label>Turma</ion-label>
                      <ion-select formControlName="turma" (ngModelChange)="getGruposByTurmaId($event)" [(ngModel)]="turmaId" okText="Ok" cancelText="Cancelar">
                        <ion-option *ngFor="let turma of turmas" [value]="turma.id">{{turma.nome}}</ion-option>
                      </ion-select>
                  </ion-item>
                </div>

                <div class="border-bottom-grey">
                  <ion-item class="no-padding-left" margin-vertical>
                      <ion-label>Grupo</ion-label>
                      <ion-select formControlName="grupo" [(ngModel)]="grupoId" okText="Ok" cancelText="Cancelar">
                        <ion-option *ngFor="let grupo of grupos" [value]="grupo.id">{{grupo.nome}}</ion-option>
                      </ion-select>>
                  </ion-item>
                </div>
            </form>
            <button ion-button color="primary" class="button-top-margin" [disabled]="initialForm.invalid" (click)="iniciarAvaliacao(1)" full>Avançar</button>

        </ion-list>

        <ion-list no-lines margin-top>
          <div class="divider">
            <span>ou</span>
          </div>

          <ion-label margin-vertical color="black">
              <h4 class="subtitle">iniciar avaliação sem cadastros</h4>
              <h5 class="subtitle-note">Os dados serão solicitados durante a avaliação</h5>
          </ion-label>

          <!--atualizar metodo do botao abaixo -->
          <button ion-button color="primary" class="" (click)="iniciarAvaliacao(2)" full>Avançar</button>

        </ion-list>

      </ion-slide>

    </ion-slides>

</ion-content>
