ion-slide {
    align-items: flex-start !important;
}

.border-bottom {
    border-bottom: 1px solid color($colors, lightgrey, base);
}

.avatar-student {
    width: 100px !important;
    margin: 0 auto !important;
}

