ion-slides { height: initial; }

ion-slide {
    align-items: flex-start !important;
    // height: auto !important;
}

.top-registered-user,
.top-new-user {
    background: #ececec;
    margin: -30px -15px 0 -15px;

    ion-label {
        margin-bottom: 4px;
        .user-details{
            display: flex;
            height: 55px;
            img {
                display: inline-block;
            }
            .avatar-student {
                display: flex;
                justify-content: left;
                width: 35px !important;
                padding: 1rem 0;
                margin-left: 2.25rem;
                margin-right: -1rem;
                vertical-align: middle;
            }
            .avatar-name {
                display: flex;
                width: 100%;
                font-size: 1.4rem;
                margin-left: 0.5rem;
                padding: 2rem;
                padding-right: 0.5rem;
                vertical-align: middle;
                overflow-x: auto;
            }
            .current-category {
                display: flex;
                width: 100%;
                font-size: 1.4rem;
                padding: 2rem;
                padding-right: 0.5rem;
                vertical-align: middle;
                text-transform: uppercase;
                font-weight: bold;
                justify-content: flex-end;
            }
            .current-group {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                font-size: 1.8rem;
                padding: 2rem;
                padding-right: 0.5rem;
                vertical-align: middle;
                text-transform: uppercase;
                font-weight: bold;
            }
            .button-right-action {
                display: flex;
                align-items: center;
                justify-content: flex-end;
    
                button {
                    height: 2.8rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                }
            }
        }
    }
}

.topo-aluno-sem-cadastro {
    .usuario-nome {
        text-align: left;
        img {
            display: none;
        }
    }
}

h4, h5 {
    font-size: 1.8rem;
}

h4.subtitle {
    text-transform: uppercase;
    line-height: 1.5;
    white-space: normal;
}

h5.subtitle-note {
    color: color($colors, darkgrey, base);
    font-size: 0.8em;
    font-style: italic;
    font-weight: 100;
    margin: 0.2rem;
    white-space: normal;
}

.question-title {
    margin-top: 2px;
    font-size: 1.8rem;
    white-space: normal;
}

.button-top-margin {
    margin-top: 32px;
}

.question-wrapper {
    margin-top: 4rem;
}

.progressbar {

  margin: 20px 0;

  .bar1 {
      display: inline-block;
      position: relative;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      margin: 0 10px;

      &.active {
        background: color($colors, primary, base) !important;

        &.bar1:after {
            border-left-color: color($colors, primary, base) !important;
        }

      }

      &.bar1:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: color($colors, darkgrey, base);
        border-width: 5px;
        margin-top: -5px;
        margin-left: -2px;
      }
    }

  .bar2 {
      display: inline-block;
      position: relative;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      margin: 0 10px;

      &.active {
        background: color($colors, primary, base) !important;

        &.bar2:after {
            border-left-color: color($colors, primary, base) !important;
        }

      }

      &.bar2:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: color($colors, darkgrey, base);
        border-width: 5px;
        margin-top: -5px;
        margin-left: -2px;
      }
    }

  .bar3 {
      display: inline-block;
      position: relative;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      margin: 0 10px;

      &.active {
          background: color($colors, primary, base) !important;

        &.bar3:after {
            border-left-color: color($colors, primary, base) !important;
        }

      }
    }

   .bar3:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: color($colors, darkgrey, base);
	border-width: 5px;
	margin-top: -5px;
    margin-left: -2px;
  }

  .bar4 {
      display: inline-block;
      position: relative;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      margin: 0 10px;

      &.active {
          background: color($colors, primary, base) !important;

        &.bar4:after {
            border-left-color: color($colors, primary, base) !important;
        }

      }
    }

   .bar4:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: color($colors, darkgrey, base);
	border-width: 5px;
	margin-top: -5px;
    margin-left: -2px;
  }

}

.legenda-progresso {
    position: absolute;
    margin-top: -20px;
    font-size: 14px;
    left: 8px;
}

button:disabled {
    background-color: color($colors, darkgrey, base) !important;
}

.divider {
    display: block;
    height: 10px;
    border-bottom: solid 1px #BCC3CA;
    text-align: center;
    margin: 15% 0;

    span {
        display: inline-block;
        background-color: #FFFFFF;
        color: #BCC3CA;
        text-transform: uppercase;
        padding: 0 5px;
        font-size: 1em;
    }

}
