ion-slides { height: initial; }

ion-slide {
    align-items: flex-start !important;
}

.border-bottom {
    border-bottom: 1px solid color($colors, lightgrey, base);
}

.avatar-student {
    width: 100px !important;
    margin: 0 auto !important;
}

.avatar-name {
    margin-top: 10px;
    display: block;
}

h4.subtitle {
    text-transform: uppercase;
    line-height: 2;
    white-space: normal;
}

.question-title {
    margin-top: 2px;
    font-size: 1.8rem;
    white-space: normal;
}

.no-padding-left {
    padding-left: 0 !important;
}

.button-top-margin {
    margin-top: 32px;
}

.progressbar {
  
  display: inline;
  margin: 10px 0;
  
  .bar1 {
      display: inline-block;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 5px;
      border-radius: 2px;
      margin: 0 5px;

      &.active {
          background: color($colors, primary, base) !important;
      }
    }
  
  .bar2 {
      display: inline-block;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 5px;
      border-radius: 2px;
      margin: 0 5px;

      &.active {
          background: color($colors, primary, base) !important;
      }
    }
  
  .bar3 {
      display: inline-block;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 5px;
      border-radius: 2px;
      margin: 0 5px;

      &.active {
          background: color($colors, primary, base) !important;
      }
    }
  
  .bar4 {
      display: inline-block;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 5px;
      border-radius: 2px;
      margin: 0 5px;

      &.active {
          background: color($colors, primary, base) !important;
      }
    }
  
}

// .item-md {
//     padding-left: 0 !important;
// }

// .card-md, .card-header-md, .item-md {
//     background-color: color($colors, lightgrey, base);
// }
