ion-slides { height: initial; }

ion-slide {
    align-items: flex-start !important;
    // height: auto !important;
}

.border-bottom {
    border-bottom: 1px solid color($colors, lightgrey, base) !important;
}

.avatar-student {
    width: 100px !important;
    margin: 0 auto !important;
}

.avatar-name {
    margin-top: 10px;
    display: block;
}

h4.subtitle {
    text-transform: uppercase;
    line-height: 2;
    white-space: normal;
}

.question-title {
    margin-top: 2px;
    font-size: 1.8rem;
    white-space: normal;
}

.button-top-margin {
    margin-top: 32px;
}

.progressbar {
  
  margin: 20px 0 40px 0;
  
  .bar1 {
      display: inline-block;
      position: relative;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      margin: 0 10px;

      &.active {
        background: color($colors, primary, base) !important;

        &.bar1:after {
            border-left-color: color($colors, primary, base) !important;
        }

      }

      &.bar1:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: color($colors, darkgrey, base);
        border-width: 5px;
        margin-top: -5px;
        margin-left: -2px;
      }
    }

  .bar2 {
      display: inline-block;
      position: relative;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      margin: 0 10px;

      &.active {
        background: color($colors, primary, base) !important;

        &.bar2:after {
            border-left-color: color($colors, primary, base) !important;
        }

      }

      &.bar2:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: color($colors, darkgrey, base);
        border-width: 5px;
        margin-top: -5px;
        margin-left: -2px;
      }
    }
  
  .bar3 {
      display: inline-block;
      position: relative;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      margin: 0 10px;

      &.active {
          background: color($colors, primary, base) !important;

        &.bar3:after {
            border-left-color: color($colors, primary, base) !important;
        }

      }
    }

   .bar3:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: color($colors, darkgrey, base);
	border-width: 5px;
	margin-top: -5px;
    margin-left: -2px;
  }
  
  .bar4 {
      display: inline-block;
      position: relative;
      background: color($colors, darkgrey, base) !important;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      margin: 0 10px;

      &.active {
          background: color($colors, primary, base) !important;

        &.bar4:after {
            border-left-color: color($colors, primary, base) !important;
        }

      }
    }

   .bar4:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: color($colors, darkgrey, base);
	border-width: 5px;
	margin-top: -5px;
    margin-left: -2px;
  }
  
}

.legenda-progresso {
    position: absolute;
    margin-top: -20px;
    font-size: 14px;
    left: 8px;
}

button:disabled {
    background-color: color($colors, darkgrey, base) !important;
}
