.question-title {
    margin-top: 2px;
    font-size: 1.6rem;
    white-space: normal;
}

.answer {
  font-size: 1.5rem;
}

.text-input-md{
  margin-left: 15px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 7px;
}
