<ion-header>

<ion-navbar>
    <ion-title>Adicionar aluno</ion-title>
    <ion-buttons end>
    <button ion-button (click)="closeModal()">Fechar</button>
    </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

  <form [formGroup]="addAlunoForm">

    <p *ngIf="submitAttempt" style="color: #ea6153;">Por favor preencha todos os campos abaixo.</p>

    <ion-item class="no-padding-left">
      <ion-label>Nome do Aluno*</ion-label>
      <ion-input formControlName="nome" type="text" text-right>{{nome}}</ion-input>
    </ion-item>

    <ion-item *ngIf="(errorNome && submitAttempt)">
      <p>O campo "Nome" é obrigatório.</p>
    </ion-item>

    <ion-item class="no-padding-left">
      <ion-label>Data de Nascimento*</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dataNascimento" type="dataNascimento">{{dataNascimento}}</ion-datetime>
    </ion-item>

    <ion-item *ngIf="(errorDataNascimento && submitAttempt)">
      <p>O campo "Data de Nascimento" é obrigatório.</p>
    </ion-item>

    <ion-item class="no-padding-left">
      <ion-label>Escola*</ion-label>
      <ion-select formControlName="escolaId" type="number" (ngModelChange)="getTurmasByEscolaId($event)">
        <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="(errorEscolaId && submitAttempt)">
      <p>Selecione uma escola.</p>
    </ion-item>

    <ion-item class="no-padding-left">
        <ion-label>Turma*</ion-label>
        <ion-select formControlName="turmaId" type="number">
          <ion-option *ngFor="let turma of turmas" [value]="turma.id">{{turma.nome}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="(errorTurmaId && submitAttempt)">
      <p>Selecione uma turma.</p>
    </ion-item>

  </form>

  <button ion-button color="darkgrey" class="button-top-margin" (click)="saveAluno()" full>Salvar</button>

</ion-list>

</ion-content>
