.button-actions {
    border-radius: 4px;
    height: 2.8em;
    font-size: 1.6rem;
    color: #fff;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
}