
<ion-header>
  <ion-navbar>
    <ion-title>Gráfico por função</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header class="titleSearch" (click)="toggleBusca(isExpand)">Busca
      <ion-icon item-right class="iconRight" name="add" *ngIf="!isExpand"></ion-icon>
      <ion-icon item-right class="iconRight" name="remove" *ngIf="isExpand"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="isExpand">
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Escola</ion-label>
        <ion-select [(ngModel)]="escolaId" (ngModelChange)="getTurmasByEscolaId($event)">
          <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Turma</ion-label>
        <ion-select [(ngModel)]="turmaId" (ngModelChange)="getGruposByTurmaId($event)">
          <ion-option *ngFor="let turma of turmas" [value]="turma.id">{{turma.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Funçao</ion-label>
        <ion-select [(ngModel)]="funcao">
          <ion-option [value]="1">Construtor</ion-option>
          <ion-option [value]="2">Organizador</ion-option>
          <ion-option [value]="3">Programador</ion-option>
          <ion-option [value]="4">Líder</ion-option>
        </ion-select>
      </ion-item>
      <div class="buttonsSearch">
        <button ion-button (click)="pesquisar(turmaId, funcao)">
          Pesquisar
        </button>
        <button ion-button color="darkgrey" (click)="limpar()">
          Limpar
        </button>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card margin-vertical >
    <ion-card-header class="titleGraphic">
      <ion-icon name="pie"></ion-icon>
      Gráfico
    </ion-card-header>

    <ion-card-content >

      <canvas #barCanvas ></canvas><br>

    </ion-card-content>
  </ion-card>

</ion-content>
