h4.subtitleGraphics {
    text-transform: uppercase;
    line-height: 2;
    white-space: normal;
    text-align: center;
}

.titleGraphic {
    text-align: center;
}

h2.subtitleGraphics {
    text-align: center;
}
