<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button block (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Editar turma</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <form [formGroup]="editTurmaForm">

      <p class="hint-message" text-right>* obrigatório</p>

      <div>
        <ion-item class="no-padding-left">
          <ion-label stacked>Nome da Turma:</ion-label>
          <ion-input formControlName="nome" type="text"></ion-input>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorNome && submitAttempt)">
          <p class="validation-message">O campo "Nome" é obrigatório.</p>
        </ion-item>

        <ion-item class="no-padding-left" margin-vertical>
            <ion-label stacked>Escola:</ion-label>
            <ion-select formControlName="escolaId" okText="Ok" cancelText="Cancelar">
              <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorEscolaId && submitAttempt)">
          <p class="validation-message">Selecione uma escola.</p>
        </ion-item>
      </div>

      <p *ngIf="submitAttempt" margin-top margin-bottom class="validation-message">Por favor, preencha todos os campos.</p>

    </form>

  <button ion-button color="primary" class="button-top-margin" (click)="saveTurmaEdit()" full>Salvar</button>


</ion-list>

</ion-content>
