<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button block (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Editar turma</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <form [formGroup]="editTurmaForm">

      <p *ngIf="submitAttempt" style="color: #ea6153;">Por favor, preencha todos os campos abaixo.</p>

      <div>
        <ion-item class="no-padding-left">
          <ion-label>Nome da Turma:</ion-label>
          <ion-input formControlName="nome" type="text" text-right></ion-input>
        </ion-item>

        <ion-item *ngIf="(errorNome && submitAttempt)">
          <p>O campo "Nome" é obrigatório.</p>
        </ion-item>

        <ion-item class="no-padding-left" margin-vertical>
            <ion-label>Escola</ion-label>
            <ion-select formControlName="escolaId">
              <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="(errorEscolaId && submitAttempt)">
          <p>Selecione uma escola.</p>
        </ion-item>
      </div>

    </form>

  <button ion-button color="primary" class="button-top-margin" (click)="saveTurmaEdit()" full>Salvar</button>


</ion-list>

</ion-content>
