// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Menu */

.bar-button-menutoggle-md {
    margin-top: -1px !important;
}

.logo-menu {
    padding: 50px 12px 30px 12px;
    width: 100px;
    display: block;
}

.toolbar-ios ion-title {
    left: 0;
    top: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}

.menu-item-sync .item-ios[detail-push] .item-inner,
.menu-item-sync button.item-ios:not([detail-none]) .item-inner,
.menu-item-sync a.item-ios:not([detail-none]) .item-inner {
    background-image: none;
}

.toolbar-header-wrapper {
    display: block;
    padding: 0 0 10px 0;
    .menu-header {
        display: inline;
    
        .toolbar-title {
            display: inline;
        }
    }
    .toolbar-logout {
        display: inline;
        position: relative;
        top: 3px;
        float: right;
        cursor: pointer;
        .menu_item_icon {
            color: white;
            font-size: 1.6rem;
            margin-right: 5px;
        }
        .menu_item_title {
            position: relative;
            top: -1px;
            color: white;
            font-size: 1.5rem;
            padding-right: 10px;
        }
    }
}

.item-icon {
    color: color($colors, primary, base) !important;
}

.list-icon {
    color: color($colors, primary, base);
}

.bar-button-menutoggle-md {
    margin-left: 0 !important;
    padding-right: 0 !important;
}

.menu-list-background {
    background: #ffffff !important;
    border-bottom: 0 !important;;
    .item-inner {
        border-bottom: 0 !important;
    }
}

.menu-actions-options {
    margin-top: 10px;
    margin-bottom: 0;
}

.menu-item-sync {
    border-top: 2px solid #ccc;
    .item-inner {
        background-image: none;
    }
}

/* Formatting */

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.vertical-align-content > * {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.sm-margin-top {
    margin-top: 10px;
}

.sm-margin-bottom {
    margin-bottom: 10px;
}

/* Elements and Inputs */

.content-md {
    color: color($colors, dark, base);
}

.border-bottom {
    border-bottom: 1px solid color($colors, primary, base) !important;
}

.border-bottom-grey {
    border-bottom: 1px solid color($colors, lightgrey, base);
}

.button-actions {
    width: 100%;
}

.button-cadastros {
    width: 100%;
}

ion-select {
  max-width: 100%!important;
  right: auto!important;
  direction: ltr!important;
  padding-left: 0!important;
}

.hint-message {
    font-size: 1.2rem;
    color: #ea6153 !important;
}

.validation-message {
    color: #ea6153 !important;
    font-size: 1.6rem !important;
}

/* Modal custom */

ion-buttons button[icon-only].icon-left-side {
   margin: 0 6px;
   min-width: 36px;
   text-align: start;
   font-size: 2.4rem;
   font-weight: normal;
}

/* Custom colors icons */

// ion-icon.delete, ion-cion.edit {
//     color: color($colors, secondary, base) !important;
// }
