// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Menu */

.bar-button-menutoggle-md {
    margin-top: -1px !important;
}

.menu-header {
    padding: 20px 0 10px 0;
}

.logo-menu {
    padding: 50px 12px 30px 12px;
    width: 100px;
}

.menu-list-background {
    background: #ffffff !important;
}

.item-icon {
    color: color($colors, primary, base) !important;
}

.list-icon {
    color: color($colors, primary, base);
}

.bar-button-menutoggle-md {
    margin-left: 0 !important;
    padding-right: 0 !important;
}

.menu-list-background {
    .item-inner {
        border-bottom: none !important;
    }
}

/* Formatting */

.text-center {
    text-align: center;
    margin: 0 auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.vertical-align-content > * {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.sm-margin-bottom {
    margin-bottom: 10px;
}

/* Elements and Inputs */

.content-md {
    color: color($colors, dark, base);
}

.border-bottom {
    border-bottom: 1px solid color($colors, primary, base) !important;
}

.button-actions {
    width: 300px;
}

.button-cadastros {
    width: 150px;
}

ion-select {
  max-width: 100%!important;
  right: auto!important;
  direction: ltr!important;
  padding-left: 0!important;
}

/* Modal custom */

ion-buttons button[icon-only].icon-left-side {
   margin: 0 6px;
   min-width: 36px;
   text-align: start;
   font-size: 2.4rem;
   font-weight: normal;
}