<ion-header>

<ion-navbar>
    <ion-title>{{nome}}</ion-title>
    <ion-buttons end>
    <button ion-button block (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
    </button>
    </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header class="titleGraphic">
      Informações Gerais
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nome da avaliação:</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="nome" type="text">{{nome}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Data da avaliação:</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="createdDate" type="text">{{createdDate}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Escola:</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="escolaNome" type="text">{{escolaNome}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Turma:</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="turmaNome" type="text">{{turmaNome}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Grupo:</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="grupoNome" type="text">{{grupoNome}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Status:</ion-label>
        <ion-input [readonly]="true" [(ngModel)]="statusNome" type="text">{{statusNome}}</ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header class="titleGraphic">
      Avaliações
    </ion-card-header>

    <ion-card-content>

      <ion-list *ngFor="let av of avaliacoesAlunos; let i = index">
        <ion-item *ngIf="avAlunos.length == 0">
          Nenhuma avaliação cadastrada.
        </ion-item>
        <ion-item >
          <ion-label>{{ av.alunoNome }} - {{ av.funcaoNome }}</ion-label>
          <ion-icon item-right name="md-eye" (click)="openModalView(av, i)"></ion-icon>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <button ion-button icon-left color="primary" class="button-actions" (click)="openModalViewGrafico(avaliacoesAlunos)" full>
    <ion-icon name="pie"></ion-icon> Gerar gráfico
  </button>

</ion-content>
