<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button block (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Adicionar grupo</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>

    <form [formGroup]="addGrupoForm">

        <p class="hint-message" text-right>* obrigatório</p>

        <ion-item class="no-padding-left">
          <ion-label stacked>Nome do Grupo *</ion-label>
          <ion-input formControlName="nome" type="text" text-right>{{nome}}</ion-input>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorNome && submitAttempt)">
          <p class="validation-message">O campo "Nome" é obrigatório.</p>
        </ion-item>

        <ion-item class="no-padding-left">
          <ion-label stacked>Escola *</ion-label>
          <ion-select formControlName="escolaId" (ngModelChange)="getTurmasByEscolaId($event)" okText="Ok" cancelText="Cancelar">
            <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorEscolaId && submitAttempt)">
          <p class="validation-message">Selecione uma escola.</p>
        </ion-item>

        <ion-item class="no-padding-left">
            <ion-label stacked>Turma *</ion-label>
            <ion-select formControlName="turmaId" (ngModelChange)="getAlunosByTurmaId($event)" okText="Ok" cancelText="Cancelar">
              <ion-option *ngFor="let turma of turmas" [value]="turma.id" >{{turma.nome}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorTurmaId && submitAttempt)">
          <p class="validation-message">Selecione uma turma.</p>
        </ion-item>

        <ion-item class="no-padding-left">
            <ion-label stacked>Aluno 1 *</ion-label>
            <ion-select formControlName="alunoId1" okText="Ok" cancelText="Cancelar">
              <ion-option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorAlunoId1 && submitAttempt)">
          <p class="validation-message">Selecione um aluno.</p>
        </ion-item>

        <ion-item class="no-padding-left">
            <ion-label stacked>Aluno 2 *</ion-label>
            <ion-select formControlName="alunoId2" okText="Ok" cancelText="Cancelar">
              <ion-option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorAlunoId2 && submitAttempt)">
          <p class="validation-message">Selecione um aluno.</p>
        </ion-item>

        <ion-item class="no-padding-left">
            <ion-label stacked>Aluno 3 *</ion-label>
            <ion-select formControlName="alunoId3" okText="Ok" cancelText="Cancelar">
              <ion-option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorAlunoId3 && submitAttempt)">
          <p class="validation-message">Selecione um aluno.</p>
        </ion-item>

        <ion-item class="no-padding-left">
            <ion-label stacked>Aluno 4 *</ion-label>
            <ion-select formControlName="alunoId4" okText="Ok" cancelText="Cancelar">
              <ion-option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorAlunoId4 && submitAttempt)">
          <p class="validation-message">Selecione um aluno.</p>
        </ion-item>

        <p *ngIf="submitAttempt" margin-top margin-bottom class="validation-message">Por favor, preencha todos os campos.</p>

      </form>

  <button ion-button color="primary" class="button-top-margin" (click)="saveGrupo()" full>Salvar</button>


</ion-list>

</ion-content>
