<ion-header>

<ion-navbar>
    <ion-title>ModalPage</ion-title>
    <ion-buttons end>
    <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

  <ion-item>
    <ion-label floating>Nome do Grupo:</ion-label>
    <ion-input [(ngModel)]="nome" type="text">{{nome}}</ion-input>
  </ion-item>

  <ion-item class="no-padding-left" margin-vertical>
      <ion-label>Turma</ion-label>
      <ion-select [(ngModel)]="turmaId" (ngModelChange)="getAlunosByTurmaId($event)">
        <ion-option *ngFor="let turma of turmas" [value]="turma.id" >{{turma.nome}}</ion-option>
      </ion-select>
  </ion-item>

  <ion-item class="no-padding-left" margin-vertical>
      <ion-label>Aluno 1</ion-label>
      <ion-select [(ngModel)]="alunoId1">
        <ion-option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</ion-option>
      </ion-select>
  </ion-item>

  <ion-item class="no-padding-left" margin-vertical>
      <ion-label>Aluno 2</ion-label>
      <ion-select [(ngModel)]="alunoId2">
        <ion-option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</ion-option>
      </ion-select>
  </ion-item>

  <ion-item class="no-padding-left" margin-vertical>
      <ion-label>Aluno 3</ion-label>
      <ion-select [(ngModel)]="alunoId3">
        <ion-option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</ion-option>
      </ion-select>
  </ion-item>

  <ion-item class="no-padding-left" margin-vertical>
      <ion-label>Aluno 4</ion-label>
      <ion-select [(ngModel)]="alunoId4">
        <ion-option *ngFor="let aluno of alunos" [value]="aluno.id">{{aluno.nome}}</ion-option>
      </ion-select>
  </ion-item>

  <button ion-button icon-only (click)="saveGrupo()">
    <ion-icon name="salvar">Salvar</ion-icon>
  </button>

</ion-list>

</ion-content>
