<ion-header>
  <ion-navbar>
    <ion-title>Escolas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="escolas.length == 0">
      Nenhuma escola cadastrada.
    </ion-item>
    <ion-item-sliding *ngFor="let escola of escolas; let i = index">
      <ion-item >
        <ion-icon name="school" class="list-icon" item-start></ion-icon>
        <ion-label>{{ escola.nome }}</ion-label>
      </ion-item>
      <ion-item-options side="right" icon-left>
        <button ion-button color="danger" (click)="confirmDelete(escola, i)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
        <button ion-button (click)="openModalEdit(escola, i)">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
        <!--<button ion-button color="secondary" (click)="openModalView(escola, i)">
          Visualizar
        </button>-->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-content padding>
    <button ion-button icon-left color="darkgrey" class="button-top-margin" (click)="openModalAdd()" full>
      <ion-icon name="add"></ion-icon>
      Cadastrar escola
    </button>
  </ion-content>
  
</ion-content>
