<ion-header>
  <ion-navbar>
    <ion-title>Escolas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="sm-margin-top">
  <ion-list *ngFor="let escola of escolas; let i = index" >
    <ion-item *ngIf="escolas.length == 0">
      Nenhuma escola cadastrada.
    </ion-item>
      <ion-item >
        <ion-icon name="school" class="list-icon" item-start></ion-icon>
        <ion-label>{{ escola.nome }}</ion-label>
        <ion-icon item-right class="delete" name="trash" (click)="confirmDelete(escola, i)"></ion-icon>
        <ion-icon item-right name="create" (click)="openModalEdit(escola, i)"></ion-icon>
      </ion-item>
  </ion-list>

  <ion-content padding>
    <button ion-button icon-left color="primary" class="button-actions" (click)="openModalAdd()" full>
      <ion-icon name="add"></ion-icon>
      Cadastrar escola
    </button>
  </ion-content>

</ion-content>
