<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button block (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Editar aluno</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>

    <form [formGroup]="editAlunoForm">

      <p class="hint-message" text-right>* obrigatório</p>

      <div>
        <ion-item class="no-padding-left">
          <ion-label stacked>Nome do Aluno *</ion-label>
          <ion-input formControlName="nome" type="text"></ion-input>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorNome && submitAttempt)">
          <p class="validation-message">O campo "Nome" é obrigatório.</p>
        </ion-item>

        <ion-item class="no-padding-left" margin-vertical>
          <ion-label stacked>Data de Nascimento *</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dataNascimento" type="dataNascimento" doneText="Ok" cancelText="Cancelar"></ion-datetime>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorDataNascimento && submitAttempt)">
          <p class="validation-message">O campo "Data de Nascimento" é obrigatório.</p>
        </ion-item>

        <ion-item class="no-padding-left" margin-vertical>
          <ion-label stacked>Escola *</ion-label>
          <ion-select formControlName="escolaId" type="number" (ngModelChange)="getTurmasByEscolaId($event)" okText="Ok" cancelText="Cancelar">
            <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorEscolaId && submitAttempt)">
          <p class="validation-message">Selecione uma escola.</p>
        </ion-item>

        <ion-item class="no-padding-left" margin-vertical>
            <ion-label stacked>Turma *</ion-label>
            <ion-select formControlName="turmaId" type="number" okText="Ok" cancelText="Cancelar">
              <ion-option *ngFor="let turma of turmas" [value]="turma.id">{{turma.nome}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="no-padding-left" *ngIf="(errorTurmaId && submitAttempt)">
          <p class="validation-message">Selecione uma turma.</p>
        </ion-item>

      </div>

      <p *ngIf="submitAttempt" margin-top margin-bottom class="validation-message">Por favor, preencha todos os campos.</p>

    </form>

    <button ion-button color="primary" class="button-top-margin" (click)="saveAlunoEdit()" full>Salvar</button>

  </ion-list>

</ion-content>
