<ion-header>

<ion-navbar>
    <ion-title>Editar aluno</ion-title>
    <ion-buttons end>
    <button ion-button (click)="closeModal()">Fechar</button>
    </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <div class="border-bottom">
      <ion-item class="no-padding-left">
        <ion-label>Nome do Aluno:</ion-label>
        <ion-input [(ngModel)]="nome" type="text" text-right></ion-input>
      </ion-item>

      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Data de Nascimento</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dataNascimento"></ion-datetime>
      </ion-item>

      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Escola</ion-label>
        <ion-select [(ngModel)]="escolaId" (ngModelChange)="getTurmasByEscolaId($event)">
          <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="no-padding-left" margin-vertical>
          <ion-label>Turma</ion-label>
          <ion-select [(ngModel)]="turmaId">
            <ion-option *ngFor="let turma of turmas" [value]="turma.id">{{turma.nome}}</ion-option>
          </ion-select>
      </ion-item>
    </div>

    <button ion-button color="darkgrey" class="button-top-margin" (click)="saveAlunoEdit()" full>Salvar</button>

  </ion-list>

</ion-content>
