<ion-header>
  <ion-navbar>
    <ion-title>Turmas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="titleSearch" (click)="toggleBusca(isExpand)">Busca
      <ion-icon item-right class="iconRight" name="add" *ngIf="!isExpand"></ion-icon>
      <ion-icon item-right class="iconRight" name="remove" *ngIf="isExpand"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="isExpand">
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Escola</ion-label>
        <ion-select [(ngModel)]="escolaId">
          <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="buttonsSearch">
        <button ion-button (click)="pesquisar(escolaId)">
          Pesquisar
        </button>
        <button ion-button color="darkgrey" (click)="limpar()">
          Limpar
        </button>
      </div>
  </ion-card-content>
</ion-card>

  <ion-list>
    <ion-list-header *ngIf="turmas.length != 0">
      Deslize para visualizar as opções.
    </ion-list-header>
    <ion-item *ngIf="turmas.length == 0">
      Nenhuma turma cadastrada.
    </ion-item>
    <ion-item-sliding *ngFor="let turma of turmas; let i = index">
      <ion-item >
        <ion-icon name="people" class="list-icon" item-start></ion-icon>
        <ion-label>{{ turma.nome }}</ion-label>
      </ion-item>
      <ion-item-options side="right" icon-left>
        <button ion-button color="danger" (click)="confirmDelete(turma, i)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
        <button ion-button (click)="openModalEdit(turma, i)">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
        <!--<button ion-button color="secondary" (click)="openModalView(turma, i)">
          Visualizar
        </button>-->
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-content padding>
    <button ion-button icon-left color="darkgrey" class="button-graphic" (click)="openModalAdd()" full>
      <ion-icon name="add"></ion-icon>
      Cadastrar turma
    </button>
  </ion-content>

</ion-content>
