<ion-header>
  <ion-navbar>
    <ion-title>Turmas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="sm-margin-top">

  <ion-card>
    <ion-card-header class="titleSearch" (click)="toggleBusca(isExpand)">Buscar
      <ion-icon item-right class="iconRight" name="ios-arrow-down" *ngIf="!isExpand"></ion-icon>
      <ion-icon item-right class="iconRight" name="ios-arrow-up" *ngIf="isExpand"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="isExpand">
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Escola</ion-label>
        <ion-select [(ngModel)]="escolaId" okText="Ok" cancelText="Cancelar">
          <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="buttonsSearch">
        <button ion-button color="darkgrey" (click)="limpar()">
            Limpar
        </button>
        <button ion-button (click)="pesquisar(escolaId)">
            Pesquisar
        </button>
      </div>
  </ion-card-content>
</ion-card>

  <ion-list *ngFor="let turma of turmas; let i = index" >
    <ion-item *ngIf="turmas.length == 0">
      Nenhuma turma cadastrada.
    </ion-item>
    <ion-item >
      <ion-label>{{ turma.nome }}</ion-label>
      <ion-icon item-right class="delete" name="trash" (click)="confirmDelete(turma, i)"></ion-icon>
      <ion-icon item-right name="create" (click)="openModalEdit(turma, i)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-content padding>
    <button ion-button icon-left color="primary" class="button-graphic" (click)="openModalAdd()" full>
      <ion-icon name="add"></ion-icon>
      Cadastrar turma
    </button>
  </ion-content>

</ion-content>
