<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button block (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Editar escola</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form [formGroup]="editEscolaForm">

        <p class="hint-message" text-right>* obrigatório</p>

        <div>
            <ion-item class="no-padding-left">
                <ion-label stacked>Nome da Escola *</ion-label>
                <ion-input formControlName="nome" type="text">{{nome}}</ion-input>
            </ion-item>
        </div>
        
        <ion-item class="no-padding-left" *ngIf="(errorNome && submitAttempt)">
            <p class="validation-message">O campo "Nome" é obrigatório.</p>
        </ion-item>
        
        <!-- <p *ngIf="submitAttempt" margin-top margin-bottom class="validation-message">Por favor, preencha todos os campos.</p> -->

    </form>

    <button ion-button color="primary" class="button-top-margin button-actions" (click)="saveEscolaEdit()" padding full>Salvar</button>
    
  </ion-list>

</ion-content>
