.border-bottom {
    border-bottom: 1px solid color($colors, lightgrey, base);
}

.item-inner, ion-item {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.no-padding-left {
    padding-left: 0 !important;
}