
.ios, .md {

    page-edit-escola-modal {

        p {
            font-size: 0.8em;
            color: #d2d2d2;
        }

        .swiper-slide {
            display: block;
        }

        ion-label, .select-text {
            margin-left: 10px;
        }

        ion-input, ion-select, ion-textarea {
            background-color: #f2f2f2;
            padding: 5px 10px;
        }

        .invalid {
            border: 1px solid #ea6153;
        }

    }

    .button-graphic {
      margin-top: 0 !important;
    }

    .item-inner, ion-item {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }

}
