page-password {
    ion-header ion-icon {
        font-size: 2em;
    }
    .password-description {
        padding: 30px 0 15px 0;
    }
    .password-box {
        position: relative; 
        .form-inputs {
            .password-input-wrapper {
                border: 0;
                padding: 0;
            }
            .icon {
                text-align: center;
                min-width: 24px;
                font-size: 1.75em;
                color: color($colors, primary, base);
            }
            .item-input ion-label {
                margin: 0;
            }
            input {
                border-bottom: 1px solid color($colors, primary, base);
                padding: 5px 0;
                color: color($colors, primary, base);
            }
        }
        .button-actions {
            height: 3.2em;
        }
        .row-signup {
            padding-top: 5%;
        }
    }
}
