<ion-header>

<ion-navbar>
    <ion-title>Adicionar escola</ion-title>
    <ion-buttons end>
    <button ion-button (click)="closeModal()">Fechar</button>
    </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <form [formGroup]="addEscolaForm">

      <p *ngIf="submitAttempt" style="color: #ea6153;">Por favor preencha todos os campos abaixo.</p>

      <ion-item class="no-padding-left">
        <ion-label>Nome da Escola*</ion-label>
        <ion-input formControlName="nome" type="text" text-right></ion-input>
      </ion-item>

      <ion-item *ngIf="(errorNome && submitAttempt)">
        <p>O campo "Nome" é obrigatório.</p>
      </ion-item>

    </form>

  <button ion-button color="darkgrey" class="button-top-margin" (click)="saveEscola()" full>Salvar</button>


</ion-list>

</ion-content>
