<ion-header>
  <ion-navbar>
    <ion-title>Alunos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="titleSearch" (click)="toggleBusca(isExpand)">Busca
      <ion-icon item-right class="iconRight" name="add" *ngIf="!isExpand"></ion-icon>
      <ion-icon item-right class="iconRight" name="remove" *ngIf="isExpand"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="isExpand">
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Escola</ion-label>
        <ion-select [(ngModel)]="escolaId" (ngModelChange)="getTurmasByEscolaId($event)">
          <ion-option *ngFor="let escola of escolas" [value]="escola.id">{{escola.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="no-padding-left" margin-vertical>
        <ion-label>Turma</ion-label>
        <ion-select [(ngModel)]="turmaId">
          <ion-option *ngFor="let turma of turmas" [value]="turma.id">{{turma.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="buttonsSearch">
        <button ion-button class="buttonPesquisar" (click)="pesquisar(turmaId, escolaId)">
          Pesquisar
        </button>
        <button class="buttonLimpar" ion-button color="darkgrey" (click)="limpar()">
          Limpar
        </button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-list *ngFor="let aluno of alunos; let i = index">
    <ion-item *ngIf="alunos.length == 0">
      Nenhum aluno cadastrado.
    </ion-item>
    <ion-item >
      <ion-label>{{ aluno.nome }}</ion-label>
      <ion-icon item-right class="delete" name="trash" (click)="confirmDelete(aluno, i)"></ion-icon>
      <ion-icon item-right name="create" (click)="openModalEdit(aluno, i)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-content padding>
    <button ion-button icon-left color="darkgrey" class="button-graphic" (click)="openModalAdd()" full>
      <ion-icon name="add"></ion-icon>
      Cadastrar aluno
    </button>
  </ion-content>

</ion-content>
